---
layout: home
---

{% assign groups = site.elecciones | group_by: "tipo" | sort: "pais" %}
<div class="container">
  <div class="row">
    <div class="col-12">

      {% for group in groups %}
      <div class="card">
        <div class="card-header">
          <h2>{{ group.name }}</h2>
        </div>

        <div class="card-body">
          {% for item in group.items %}
          <h3 class="card-title">{{ item.pais }}</h3>
          <a href="{{ site.baseurl }}/{{ item.url }}" class="btn btn-primary">Ver más</a>

          <hr class="w-100">
          {% endfor %}
        </div>
      </div>
      <br><br>
      {% endfor %}

    </div>
  </div>
</div>
