---
layout: default
---

{% assign elecciones2020 = site.elecciones | group_by: "tipo" | sort: "pais" %}

<div class="container">
    <div class="row">

        {% for eleccionesTipo in elecciones2020 %}
        <div class="col-12 col-md">

            <div class="card">
                <div class="card-header">
                    <h2>{{ eleccionesTipo.name }}</h2>
                </div>

                <div class="card-body">
                    {% for eleccion in eleccionesTipo.items %}
                    <h3 class="card-title">{{ eleccion.pais }}</h3>
                    <a href="{{ eleccion.url | prepend: site.repository }}" class="btn btn-primary">Ver más</a>

                    <hr class="w-100">
                    {% endfor %}
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div>