{%- assign social = site.social -%}

<ul>
  {%- if social.email -%}
  <li>
    <a href="mailto:{{ social.email | cgi_escape | escape }}" title="{{ social.email | escape }}">{{ social.email | escape }}</a>
  </li>
  {%- endif -%}

  {%- if social.github_username -%}
  <li>
    <a href="https://github.com/{{ social.github_username | cgi_escape | escape }}" title="{{ social.github_username | escape }}">{{ social.github_username | escape }}</a>
  </li>
  {%- endif -%}

  {%- if social.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ social.linkedin_username | cgi_escape | escape }}" title="{{ social.linkedin_username | escape }}">{{ social.linkedin_username | escape }}</a>
  </li>
  {%- endif -%}
</ul>
