body {
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p, a {
  white-space: normal;
}

.navbar.navbar-light.bg-light {
  background-color: #6200EA;
}
.navbar .navbar-brand {
  padding: 0.3125rem 0;
  margin: 0;
  color: #FFFFFF;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:active, .navbar .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.5);
}