<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- Head -->
{%- include head.html -%}

<body>

  <!-- Header -->
  {%- include header.html -%}

  <!-- Main -->
  <main>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">

        </div>

        <div class="col-12 col-md-6">

        </div>
      </div>
    </div>

  </main>

  <!-- Footer -->
  {%- include footer.html -%}

</body>

</html>
